.editsContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 70vh;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.845);
    transform: translate(-50%, -50%);
    z-index: 100000;
    border: 2px solid rgba(0, 0, 0, 0.275);
    border-radius: 10px;
    overflow: auto;
    /* color: white; */
}

.indiEditContainer {
    position: relative;
    padding: 20px;
    border: 2px solid black;
    /* background-color: rgb(35, 35, 35); */
}

.indiEditContainer>h2 {
    font-size: 1.4rem;
}

.indiEditContainer .quill {
    border: none;
}

.indiEdit {
    position: relative;
    display: grid;
    grid-template-columns: 45% 5% 45%;
    align-items: center;
}

.indiEdit>p {
    justify-self: center;
}

.editsContainer>div>div {
    position: relative;
    padding: 40px;
}


.mainContainer {
    position: relative;
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-rows: 7% 4% auto;
    max-width: 100vw;
}

.toolbarContainer {
    position: relative;
    border: 1px solid #ccc;
    background-color: #F1F5F9;
    display: grid;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
}

.toolbarContainer-dark {
    position: relative;
    border: 1px solid #444;
    background-color: #1b1a1a;
    display: grid;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
}

#toolbar {
    color: #4caf50;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(19, auto);
    justify-items: center;
    align-items: center;
    height: 100%;
    width: max-content;
    margin: 0 auto;
    border: none;
}

#toolbar-dark {
    color: #4caf50;
    background-color: 1b1a1a;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(19, auto);
    justify-items: center;
    align-items: center;
    height: 100%;
    width: max-content;
    margin: 0 auto;
    border: none;
}

.header {
    background-color: #F1F5F9;
    color: black;
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-items: left;
    padding: 10px 50px;
}

.header>div:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    margin-right: 50px;
}

.header>div:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-self: right;
    column-gap: 50px;
}

.header-dark {
    background-color: #1b1a1a;
    color: white;
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-items: left;
    padding: 10px 50px;
}

.editorContainer {
    padding: 110px 0;
    background: url('../pages/BGGREYGREEN.svg') center center;
    background-color: #FFFFFF;

}

.editorContainer-dark {
    padding: 110px 0;
    background: url('../pages/BGGREYGREENDARK.svg') center center;
    background-color: #191919;

}

.toolbarBtn {
    position: relative;
    border-radius: 100%;
    background-color: #F1F5F9;
    box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
    cursor: pointer;
    animation-duration: 0.05s;
    outline: none;
    border: none;
    transition: all 0.2s ease;
    display: grid !important;
    grid-template-columns: 100% !important;
    align-items: center !important;
    justify-items: center !important;
    padding: 0px !important;
    float: none !important;
    height: 30px !important;
    width: 30px !important;
}

.toolbarBtn-dark {
    position: relative;
    border-radius: 100%;
    background-color: #F1F5F9;
    box-shadow: 8px 8px 16px #141515, -8px -8px 16px #202020;
    cursor: pointer;
    animation-duration: 0.05s;
    outline: none;
    border: none;
    transition: all 0.2s ease;
    display: grid !important;
    grid-template-columns: 100% !important;
    align-items: center !important;
    justify-items: center !important;
    padding: 0px !important;
    float: none !important;
    height: 30px !important;
    width: 30px !important;
}

.dropDown-dark {
    background-color: #1b1a1a;
    color: red;
}

button:focus {
    outline: none;
}

#toolbar>button,
#toolbar>span {
    margin: 0px 8px !important;
}

.toolbarBtn>svg {
    float: none !important;
    /* height: 70% !important; */
    /* width: 70%!important; */
}

.toolbarBtn:hover {
    animation-name: shadow;
    animation-timing-function: ease;
    box-shadow: inset 4px 4px 8px #c9d9e88b, inset -4px -4px 8px #ffffff;
}

.toolbarBtn-dark:hover {
    animation-name: dark-shadow;
    animation-timing-function: ease;
    box-shadow: inset 4px 4px 8px #141515, inset -4px -4px 8px #202020;
}

.button {
    position: relative;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #F1F5F9;
    box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
    cursor: pointer;
    animation-duration: 0.05s;
    outline: none;
    border: none;
    transition: all 0.5s ease;
    color: #4caf50;
}

.button-dark {
    position: relative;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #1b1a1a;
    box-shadow: 8px 8px 16px #141515, -8px -8px 16px #202020;
    cursor: pointer;
    animation-duration: 0.05s;
    outline: none;
    border: none;
    transition: all 0.5s ease;
    color: #4caf50;
}

.button:hover {
    animation-name: shadow;
    animation-timing-function: ease;
    box-shadow: inset 4px 4px 8px #c9d9e88b, inset -4px -4px 8px #ffffff;
}

.button-dark:hover {
    animation-name: darkshadow;
    animation-timing-function: ease;
    box-shadow: inset 4px 4px 8px #141515, inset -4px -4px 8px #202020;
}

@keyframes shadow {
    0% {
        box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
    }

    50% {
        box-shadow: 0px 0px 0px #C9D9E8, 0px 0px 0px #FFFFFF;
    }

    100% {
        box-shadow: inset 4px 4px 8px #c9d9e88b, inset -4px -4px 8px #ffffff;
    }
}

@keyframes darkshadow {
    0% {
        box-shadow: 8px 8px 16px #141515, -8px -8px 16px #202020;
    }

    50% {
        box-shadow: 0px 0px 0px #141515, 0px 0px 0px #202020;
    }

    100% {
        box-shadow: inset 4px 4px 8px #141515, inset -4px -4px 8px #202020;
    }
}

.ql-color,
.ql-background,
.ql-align {
    display: none !important;
}

.selected {
    box-shadow: inset 3px 3px 15px #1b1a1a, inset -3px -3px 15px #2b2b2b !important;
    transform: scale(1.15);
    background: linear-gradient(180deg, #1b1a1a 0%, #2b2b2b 100%) !important;
}

/* .selected-dark {
    box-shadow: inset 3px 3px 15px #141515, inset -3px -3px 15px #202020 !important;
    transform: scale(1.15);
    background: linear-gradient(180deg, #141515 0%, #202020 100%) !important;
} */

.ql-picker {
    color: #4caf50 !important;
    outline: none;
    height: 30px !important;
    height: 33px !important;
    width: 130px !important;
    padding-right: 10px;
    border-radius: 20px 20px 0 0;
    background-color: #F1F5F9;
    box-shadow: inset 4px 4px 8px #c9d9e8;
}

.ql-picker:not(.ql-expanded) {
    border-radius: 20px;
    background-color: #F1F5F9;
    box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
}

.ql-picker-label {
    color: #4caf50 !important;
    border: none !important;
    display: grid !important;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
}

.toolbarContainer-dark .ql-picker-label {
    color: #4caf50 !important;
    background-color: #1b1a1a;
    border: none !important;
    display: grid !important;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
}


.ql-picker-options {
    border-radius: 0 0 10px 10px;
    background: #F1F5F9 !important;
    box-shadow: inset 4px -4px 8px #c9d9e8, inset -4px -4px 8px #ffffff !important;
    outline: none !important;
    border: none !important;
}

.toolbarContainer-dark .ql-picker-options {
    border-radius: 0 0 10px 10px;
    background: #F1F5F9 !important;
    box-shadow: inset 4px -4px 8px #c9d9e8, inset -4px -4px 8px #ffffff !important;
    outline: none !important;
    border: none !important;
}

.ql-picker-item:hover {
    color: black !important;
}

.ql-picker-label .ql-stroke {
    stroke: #4caf50 !important;
}

.headerBtnActive {
    box-shadow: inset 4px 4px 8px #c9d9e88b, inset -4px -4px 8px #ffffff;
}

.headerBtnActive:hover {
    animation: none;
    box-shadow: inset 4px 4px 8px #c9d9e88b, inset -4px -4px 8px #ffffff;
}

.headerBtnActive-dark {
    box-shadow: inset 4px 4px 8px #141515, inset -4px -4px 8px #202020;
}

.headerBtnActive-dark:hover {
    animation: none;
    box-shadow: inset 4px 4px 8px #141515, inset -4px -4px 8px #202020;
}

.main-modal {
    background-color: #F1F5F9 !important;
}

.form-container {
    min-height: 400px;
    max-width: 80vw;
    height: auto;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #F1F5F9;
    z-index: 1;
    display: grid;
    grid-template-rows: auto auto 60% 20%;
    align-items: center;
    justify-items: center;
    /* padding: 50px 100px; */
    padding: 10px 20px;
    /* box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF; */
    /* box-shadow: 3px 3px 5px #BABECC, -5px -5px 10px #FFF; */
    border-radius: 20px;
}

.form-input>div:nth-of-type(1) {
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.form-container>h2 {
    font-size: 1.5rem;
    color: #4caf50;
    justify-self: center;
    position: relative;
    transform: translate(0, -60%);
    font-weight: 500;
}

.form-container>button {
    position: relative;
    align-self: flex-start;
    padding: 10px;
    justify-self: right;
    margin-top: 8px;
    stroke: black;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    transition: all 0.2s ease;
}

.form-container>button:hover {
    stroke: #4caf50;
}



.form-container input {
    background-color: #F1F5F9;
}

.form-input {
    display: grid;
    grid-template-rows: repeat(4, auto);
    padding: 30px 0px;
}

.form-input input {
    padding: 10px 20px;
    margin: 7px;
    box-shadow: inset 4px 4px 8px #c9d9e88b, inset -4px -4px 8px #ffffff;
    border-radius: 30px;
}

.form-input input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.form-input input::placeholder {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.603)
}

.form-input input:focus {
    outline: none;
    border: none;
}

.form-container>div:last-of-type {
    transition: all 0.3s ease;
    font-size: 1rem;
    font-weight: 500;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.Modal {
    max-width: 90vw;
    height: auto;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #F1F5F9;
    z-index: 1;
    display: grid;
    grid-template-areas: 'close' 'heading' "shareLink" "button";
    align-items: center;
    justify-items: center;
    padding: 20px;
    border-radius: 20px;
}

.Modal>h2 {
    grid-area: heading;
    font-size: 1.5rem;
    color: #4caf50;
    justify-self: center;
    position: relative;
    font-weight: 500;
    margin: 0;
    align-self: flex-start;
    transform: translate(0, -30px);
}

.ShareLink {
    grid-area: shareLink;
    padding: 10px 30px;
    margin: 7px;
    box-shadow: inset 4px 4px 8px #c9d9e88b, inset -4px -4px 8px #ffffff;
    border-radius: 30px;
    margin: 20px 20px;
    margin-top: 0;
}

.Modal>button {
    grid-area: close;
    justify-self: right;
    position: relative;
    margin-top: 8px;
    stroke: black;
    display: grid;
    align-items: center;
    justify-items: center;
    transition: all 0.2s ease;
    padding: 10px 10px;
    margin: 0 5px;
    box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
}

.Modal>button:hover {
    stroke: #4caf50;
}

.Modal>div:last-of-type {
    grid-area: button;
    margin: 10px 0;
}

.Modal>.clicked {
    animation: none;
    box-shadow: inset 4px 4px 8px #c9d9e88b, inset -4px -4px 8px #ffffff;
}

/* 
.Modal > .clicked:hover{
    box-shadow: inset 4px 4px 8px #c9d9e88b, inset -4px -4px 8px #ffffff;
} */

.HelloSignModal {
    max-height: 70vh;
    overflow: auto;
    grid-template-rows: auto 60px auto;
}

.HelloSignModal>h2 {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}

.LightThemeBtn {
    position: fixed;
    bottom: 70px;
    right: 70px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #1b1a1a;
    box-shadow: 4px 4px 8px #C9D9E8 inset -4px -4px 8px #FFFFFF;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
}

.LightThemeBtn > svg{
    stroke: #4caf50;
}

.DarkThemeBtn{
    background-color: #F1F5F9;
    box-shadow: 8px 8px 16px #141515, -8px -8px 16px #202020;
}